.section{
  padding-top: 40px;
  padding-bottom: 50px;
}

.main-heading{
  color:orangered;
  font-size: 25px;
}

.underline{
  height: 4px;
  width: 10rem;
  background-color: orange;
  margin-bottom: 10px;
}

.bg-c-light{
  background-color: #f2f2f2;
}
